---
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import "../styles/global.css";
import { Image } from '@astrojs/image/components';
---

<Layout title={frontmatter.title} metaDescription={frontmatter.metaDescription} metaImg={frontmatter.metaImg} metaType={frontmatter.metaType} metaPath={frontmatter.metaPath}>
  <Header />
  <div class="mb-8"></div>
  <div class="mb-1.5 font-bold sm:text-5xl text-3xl">{frontmatter.title}</div>
  <h2 class="mb-2  dark:text-slate-500 text-slate-600">
    {frontmatter.description}
  </h2>
  <div class="grid grid-flow-col auto-cols-max items-center gap-3">
    <!-- Publish Date -->
    <p class="text-sm text-slate-500">
      <span>Posted:</span>
      <span class="text-blue-600 dark:text-blue-400">{new Date(frontmatter.pubDate.slice(0, 10)).toDateString()}</span>
    </p>

    <!-- Tags -->
    <div class="tags gap-1 sm:max-w-md max-w-[200px]">
      {
        frontmatter.tags.map((tag: string) => (
          <p class="tag bg-purple-200 border-purple-800 text-sm  border rounded-md px-1.5 py-0.5">
            <a class="text-purple-800" href={`/tags/${tag}`}>
              {tag}
            </a>
          </p>
        ))
      }
    </div>
  </div>
  <div class="mb-4"></div>
  <Image width={1080} aspectRatio="16:9" src={frontmatter.image.url} alt={frontmatter.image.alt} />
  <div class="mb-8"></div>
  <div class="prose prose-slate dark:prose-invert pb-8 mocha">
    <slot />
  </div>
</Layout>

<style>

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
</style>
